body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
    padding: 50px;
    background-color: #ADD8E6;
    }
h2, p{
    text-align: center;
    }
ul{
       list-style-type: none;
    }
h1{
    padding: 10px 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    }
.button_form{
    justify-content: center;
    }
.button_form input[type="submit"]{
    padding:10px 15px;
    margin: 0 5px;
    }
.button_form input[type="submit"]:hover{
    transform: scale(1.5);
    cursor: pointer;
    }
#form_main{
    display: flex;
    }
#form_main input[type="submit"]{
    margin: 0 auto;
    padding: 7px 25px;
    }
#form_main input[type="submit"]:hover{
    background-color: darkgray;
    }
h1 {
    text-align: center;
    color: #4F4F4F;
    }
.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    }

.post h2 {
    margin-top: 0;
    }

.post p {
    margin: 10px 0;
    }
.form{
    justify-content: center;
    width: 80%
    }
.button_form{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    }

#index_a{
    text-decoration: none;
    }
#button{
    width: 101%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    font-size: 1em;
    color: black;
    border: none;
    justify-content: center;
    text-decoration: none;
    }
#button:hover{
    background-color: black;
    color: white;
    }

input[type='text']{
    width: 100%;
    opacity: 0.4;
    font-size: 1em;
    }

.star, .number_count{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #00CED1;
    }
.number_count span{
    text-align: center;}
.star.red{
    color: red;
    }

