<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h1> Welcome to Master Blog</h1>
            <form id="form_main" action="/index">
                <input type="submit" value="Continue!">
            </form>
        </div>
    </div>
</body>
</html>