<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Flask Blog!</h1>
        <h3> UPDATE INFORMATION</h3>
        <div class="form">
            <form action="{{ url_for('update_post', post_id=post.id)}}" method="POST">

                <label for="author">Author: </label><br>
                <input type="text" id="author" name="author" value="{{ post['author'] }}"><br><br>

                <label for="title">Title: </label><br>
                <input type="text" id="title" name="title" value="{{ post['title'] }}"><br><br>

                <label for="content">Content: </label><br>
                <input type="text" id="content" name="content" value="{{ post['content'] }}"><br><br>

                <br>
                <input id="button" type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>